---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { getImage } from "astro:assets";
import { CDN_FAVICON_URL } from "../consts";

export interface Props {
  is404Page?: boolean;
}

const { is404Page = false } = Astro.props;

const favicon_avif = await getImage({
  src: CDN_FAVICON_URL,
  alt: "favicon",
  width: 60,
  height: 60,
  decoding: "async",
  format: "avif",
});
---

<header class="mb-5 -mt-2.5">
  <nav aria-label="Main navigation" class="flex items-center justify-between w-full h-11">
    {
      !is404Page && (
        <div class="flex items-center h-11">
          <a href="/" class="flex items-center gap-5">
            <img
              class="favicon dark:invert w-11 h-11"
              src={favicon_avif.src}
              alt="Home"
              width="44"
              height="44"
            />
            <span class="text-xl tracking-[0.2em] font-light dark:text-white hidden sm:block"
      style="font-family: var(--font-overpass-mono)">Celso Barriga</span>
          </a>
        </div>
      )
    }
    <div class="flex items-center h-11 gap-2">
      {
        !is404Page && (
          <>
            <div class="flex items-center justify-center h-11 w-11">
              <ThemeToggle />
            </div>
            <div class="flex items-center justify-center h-11 w-11">
              <Hamburger />
            </div>
          </>
        )
      }
    </div>
  </nav>
  {
    !is404Page && (
      <div class="absolute right-0 mt-2">
        <Navigation />
      </div>
    )
  }
  <slot />
</header>
